* {
    margin: 0;
    padding: 0;
}
body {
    background-color: rgb(203, 250, 234);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.center {
    width: 500px;
    margin: 35px auto;
    text-align: center;    
}
img {
    border-radius: 15px;
}
.center li {
    list-style: none;
}
a{
    text-decoration: none;
    color: rgb(118, 3, 225);
}
a:hover{
    color: rgb(171, 117, 221);
}
#conteudo{
    width: 500px;
    margin: auto;
    margin-top: 55px;
    margin-bottom: 55px;
    border: 1px solid green;
    border-radius: 10px;
    padding: 30px;
    padding-bottom: 15px;
    background-color: azure;
}
#conteudo h2 {
    border-bottom: 1px solid gray;
    margin-bottom: 15px;
}
#conteudo h4 {
    border-bottom: 1px solid gray;
    margin-bottom: 10px;
    margin-top: 15px;
}
#conteudo img {
    width: 500px;
}
